<header id="header">
	<div>
		<a href="/">Keith Stubbs</a>
		<nav id="mainNav">
			<a href="/">Home</a>
			<a href="/about">Bio</a>
			<a href="mailto:laughstv&#64;aol.com?subject=KeithStubbs.com Booking" target="_blank" class="contact-link">Hire Keith</a>
			<a href="/videos">Videos</a>
			<a href="http://stubbscast.com/" target="_blank">StubbsCast</a>
			<a href="/press-kit">Press Kit</a>
			<!--<a href="#stubbscast">StubbsCast</a>-->
			<!--<a href="#emailSignup">Newsletter</a>-->
			<a href="mailto:laughstv&#64;aol.com?subject=KeithStubbs.com Contact" target="_blank" class="contact-link">Contact</a>
		</nav>
		<div id="social">
			<a href="https://www.facebook.com/thekeithstubbs" class="icon-facebook" target="_blank"></a>
			<a href="https://twitter.com/thekeithstubbs" class="icon-twitter" target="_blank"></a>
		</div>
	</div>
</header>