.fl {
  float: left;
}

.fr {
  float: right;
}

.c, .clearfix {
  clear: both !important;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.clearfix, section > div {
  zoom: 1;
}

.clearfix:before, section > div:before, .clearfix:after, section > div:after {
  content: "";
  display: table;
}
.noDrag {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
  user-select: none;
  draggable: none;
}

.hide {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.ts {
  text-shadow: 0.07143em 0.07143em 0.07143em rgba(0, 0, 0, 0.5);
}
