.hero {
  height: 600px;
  background-image: url(../img/blue-curtain.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 32px;
  margin-top: -$space;
  &_keith {
    width: 420px;
    height: 568px;
    float: left;
  }
  &_content {
    float: left;
    width: calc(100% - 420px);
  }
  &_heading, &_subheading {
    text-transform: uppercase;
    font-family: 'Fjalla One';
    line-height: 1em;
    &:after {
      content: none;
    }
  }
  &_heading {
    color: #fff;
    font-size: 96px;
    margin-bottom: 0;
  }
  &_subheading {
    font-size: 34px;
    color: #FC0;
  }
  &_cta {
    color: #fff;
    float: left;
    margin-top: 222px;
    margin-left: 57px;
  }
}

#workedWith td, .video > span {
  @extend %header-font;
}

#awards > div {
  background-color: #fff;
  background-image: url(../media/awards/uba.jpg);
  background-repeat: no-repeat;
  background-position: 30px 30px;
  padding: 30px;
  height: 260px;
}

.slideshow {
  position: relative;
  -webkit-animation: fadeIn 250ms linear;
  /* Chrome, Safari 5+ */
   > img {
    position: absolute;
    top: 0;
    left: 0;
  }
   > .active {
    z-index: 9;
    opacity: 0;
    -webkit-animation: fadeOut 250ms linear;
    /* Chrome, Safari 5+ */
     + img {
      opacity: 1;
      z-index: 10;
      -webkit-animation: fadeIn 250ms linear;
      /* Chrome, Safari 5+ */
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#workedWith {
  width: 100%;
  table-layout: fixed;
}

#workedWith td {
  font-size: 22px;
  line-height: 1.4em;
  text-align: center;
}
