
body {
  font: 20px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: $header-height + $space;
}

h1, h2, h3, h4, h5, h6 {
  @extend %header-font;
}

h1, h2, h3, h4, h5, h6, a {
  color: $color-primary;
  font-weight: normal;
}

h1 {
  color: $color-black;
  &:after {
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    margin-top: $space/3;
    background-color: #ccc;
  }
}

a:hover {
  color: $color-primary-lt;
}

body {
}

button, .btn{
  background: $color-primary;
  color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border: 0px transparent solid;
  font-family: 'Fjalla One';
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  &:hover{
    background: $color-primary-dk;
    text-decoration: none;
    color: #fff;
  }
}

label{
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  span{
    position: absolute;
    right: 0px !important;
    font-size: 10px;
    color: #888;
    left: auto !important;
    top: auto !important;
  }
}

input, textarea {
  border-width: 2px;
  border-color: #ccc;
  border-style: solid;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr{
  border: 2px #ccc solid;
}
