@charset "utf-8";

$header-height: 100px;

.splash {
  display: none;
}

%header-font {
  font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  @extend %header-font;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: $color-primary-dk;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: $space * 2;
  &_logo {
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    display: inline-block;
    height: 0.85em;
    text-indent: $space/3;
    line-height: 1em;
    position: relative;
    z-index: -1;
    color: $color-primary !important;
    bottom: -10px;
    margin-top: -13px;
  }
  &_nav {
    &:after {
      content: "";
      width: 100%;
      background: $color-primary;
      position: fixed;
      left: 0;
      height: 42px;
      z-index: -1;
    }
    > a {
      @extend %header-font;
      line-height: 42px;
      padding: 0 $space/2;
      display: block;
      float: left;
      font-size: 24px;
      text-transform: uppercase;
      color: $color-white;
      &:first-child {
        display: none;
      }
      &:hover, &.current {
        color: $color-white;
        background: #118cff;
        box-shadow: inset 0 -2px 0 #004688;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        text-decoration: none !important;
      }
      &.current {
        cursor: default;
        color: #fc0;
      }
    }
  }
  &_social {
    float: right;
    font-size: 32px;
    line-height: 48px;
    > a {
      &:before {
        margin: 0;
      }
      &:hover {
        color: #44a5ff;
        text-decoration: none;
      }
    }
  }
}

.footer {
  @extend %header-font;
  height: 320px;
  color: #fff;
  text-align: center;
  border-top: solid 5px #118cff;
  > a {
    font-size: 24px;
    padding: $space/2;
    display: inline-block;
  }
}

#messageForm {
  h3{
    font-size: 15px;
  }
  h2{
    font-size: 25px;
  }
}

@include mobile(){
  body {
    margin-top: 48px !important;
  }
  .header {
    padding-top: 0;
    height: 48px;
    &_logo, &_social {
      display: none;
    }
    &_nav {
      a, &:after {
        display: none;
      }
      a:first-child {
        display: block;
        line-height: 48px;
        padding: 0 15px;
        i:before {
          margin-right: 0;
        }
      }
    }
  }
}
