@charset "utf-8";
/* CSS Document */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.purple, #emailSignup, .video:hover > span {
  background-color: #118cff;
}

.dkPurple, #footer, .video > span {
  background-color: #004688;
}

.ltPurple {
  background-color: #9b61c8;
}

.green {
  background-color: #ffcc00;
}

.dkGreen {
  background-color: #658511;
}

.ltGreen, button.green:hover, .btn.green:hover {
  background-color: #ffee22;
}

.black {
  background-color: black;
}

.gray {
  background-color: #888888;
}

.dkGray {
  background-color: #444444;
}

.ltGray, body {
  background-color: #cccccc;
}

.white, #awards, #about, #stubbscast, #bodyContent, #contact {
  background-color: white;
}

body {
  font: 14px/1.5em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  margin: 0 0 10px;
  cursor: default;
  font-weight: normal;
}

h1 small:before, h2 small:before, h3 small:before, h4 small:before, h5 small:before, h6 small:before, h2.sub:before, h3.sub:before, h4.sub:before, h5.sub:before, h6.sub:before {
  content: " - ";
}

h1 {
  font-size: 3.57148571em;
}

h2 {
  font-size: 2.857142857em;
}

h3 {
  font-size: 2.142857142em;
}

h4 {
  font-size: 1.428571428em;
}

h5 {
  font-size: 0.714285714em;
}

h6 {
  font-size: 14px;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.ts {
  text-shadow: 0.07143em 0.07143em 0.07143em rgba(0, 0, 0, 0.5);
}

b, strong, #header > div > a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, #header, #header > div > a, #workedWith td, #footer, .video > span {
  font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.textWhite, .dkPurple, #footer, .video > span, .dkGreen, .black, .dkGray, #mainNav > a, #footer > div > a {
  color: white;
}

.textLtGray {
  color: #cccccc;
}

.textGray, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, h2.sub, h3.sub, h4.sub, h5.sub, h6.sub {
  color: #888888;
}

.textDkGray {
  color: #444444;
}

.textBlack, .purple, #emailSignup, #contact, #videos, .video:hover > span, .ltPurple, .green, .ltGreen, .gray, .ltGray, body, .white, #awards, #about, #stubbscast, #bodyContent {
  color: black;
}

.textLtPurple {
  color: #9b61c8;
}

.textPurple, h1, h2, h3, h4, h5, h6, a {
  color: #118cff;
}

.textDkPurple, a:hover {
  color: #004688;
}

.textLtGreen {
  color: #c2e566;
}

.textGreen {
  color: #ffcc00;
}

.textDkGreen {
  color: #658511;
}

#header, #footer, body > section, body > section > section {
  position: relative;
}
#header > div, #footer > div, body > section > div, body > section > section > div {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
#header:before, #footer:before, body > section:before, body > section > section:before {
  display: block;
  content: "";
  height: 100px;
  top: -100px;
  background: #f00;
  position: absolute;
}

body {
  padding: 0;
  margin: 80px 0 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #004688;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#header > div > a {
  font-weight: bold;
  font-size: 4em;
  text-transform: uppercase;
  display: block;
  height: 0.85em;
  text-indent: 0.15em;
  line-height: 1em;
  position: relative;
  z-index: -1;
  color: #118cff;
}

#mainNav > a {
  line-height: 32px;
  padding: 0 .5em;
  display: block;
  float: left;
  font-size: 24px;
  text-transform: uppercase;
}
#mainNav > a:hover, #mainNav > a.current {
  background: #118cff;
  box-shadow: inset 0 -2px 0 #004688;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
}
#mainNav > a.current {
  cursor: default;
  color: #fc0;
}
#mainNav > a:active {
  background-color: #004688;
  box-shadow: inset 0 -2px 0 #002466;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#mainNav:after {
  content: "";
  width: 100%;
  background: #118cff;
  position: fixed;
  left: 0;
  height: 32px;
  z-index: -1;
}

#social {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  line-height: 48px;
}
#social > a:before {
  margin: 0;
}
#social > a:hover {
  color: #44a5ff;
  text-decoration: none;
}

#hero {
  height: 600px;
  background-image: url(../img/blue-curtain.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

#keithHero {
  width: 484px;
  height: 568px;
  float: left;
  position: absolute;
  z-index: 0;
  top: 32px;
  left: 32px;
}

#awards > div {
  background-color: #fff;
  background-image: url(../media/awards/uba.jpg);
  background-repeat: no-repeat;
  background-position: 30px 30px;
  padding: 30px;
  height: 260px;
}

.slideshow {
  position: relative;
  -webkit-animation: fadeIn 250ms linear;
  /* Chrome, Safari 5+ */
}

.slideshow > img {
  position: absolute;
  top: 0;
  left: 0;
}

.slideshow > .active {
  z-index: 9;
  opacity: 0;
  -webkit-animation: fadeOut 250ms linear;
  /* Chrome, Safari 5+ */
}

.slideshow > .active + img {
  opacity: 1;
  z-index: 10;
  -webkit-animation: fadeIn 250ms linear;
  /* Chrome, Safari 5+ */
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#workedWith {
  border-left: solid 1px #eee;
  width: 100%;
  table-layout: fixed;
}

#workedWith td {
  font-size: 22px;
  line-height: 1.4em;
  text-align: center;
}

#emailSignup {
  height: 45px;
}

#contact {
  height: 600px}

#about p, #contact p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.4em;
}

#stubbscast {
  height: 630px;
  background-image: url(../media/hero/stubbscast-header.jpg);
  background-position: center 50px;
  background-repeat: no-repeat;
}

#videos {
  height: 680px;
}

#footer {
  height: 320px;
  color: #fff;
  text-align: center;
  border-top: solid 5px #118cff;
}

#footer > div {
  padding: 30px;
}

#footer > div > a {
  font-size: 24px;
  padding: 30px;
}

.video {
  background-position: center;
  float: left;
  display: block;
  width: 300px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 60px;
  position: relative;
}

.video > span {
  width: 100%;
  display: block;
  position: absolute;
  bottom: -32px;
  line-height: 32px;
  text-indent: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.c, .clearfix, section > div {
  clear: both !important;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.clearfix, section > div {
  zoom: 1;
}

.clearfix:before, section > div:before, .clearfix:after, section > div:after {
  content: "";
  display: table;
}

button, .btn {
  font-size: 1em;
  line-height: 2.285714285em;
  position: relative;
  display: inline-block;
  padding: 0 0.714285714em;
  border-radius: 0.285714285em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  border: none !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button:after, .btn:after {
  content: "";
  display: block;
  height: 2.285714285em;
  width: 100%;
  color: rgba(0, 0, 0, 0.75) !important;
  left: 0;
  top: 0;
  border-radius: 0.285714285em;
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, rgba(255, 255, 255, 0.01)), to(rgba(0, 0, 0, 0)));
  background: transparent -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');
  position: absolute;
}

.m {
  margin: 30px;
}

.mt {
  margin-top: 30px;
}

.mb {
  margin-bottom: 30px;
}

.mr {
  margin-right: 30px;
}

.ml {
  margin-left: 30px;
}

.p {
  padding: 10px;
}

.pl {
  padding-left: 10px;
}

.pr {
  padding-right: 10px;
}

.pt {
  padding-top: 10px;
}

.pb {
  padding-bottom: 10px;
}

.p2x {
  padding: 20px;
}

.pl2x {
  padding-left: 20px;
}

.pr2x {
  padding-right: 20px;
}

.pt2x {
  padding-top: 20px;
}

.pb2x {
  padding-bottom: 20px;
}

.p3x {
  padding: 30px;
}

.pl3x {
  padding-left: 30px;
}

.pr3x {
  padding-right: 30px;
}

.pt3x {
  padding-top: 30px;
}

.pb3x {
  padding-bottom: 30px;
}

.no-p {
  padding: 0 !important;
}

/** FORM **/
/* FlexForm */
label, input, select, textarea, fieldset, label > a, input[type="file"] ~ span:before, ol > li:before {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

label, fieldset {
  position: relative;
  float: left;
  width: 50%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
  user-select: none;
  draggable: none;
}

fieldset {
  width: 100%;
}

textarea {
  resize: none;
}

input ~ span, textarea ~ span, select ~ span {
  font-size: 10px;
  height: 11px;
  margin-top: 1px;
  float: left;
  line-height: initial;
  text-rendering: initial;
}

input[type="radio"]:not(:disabled), input[type="checkbox"]:not(:disabled) {
  cursor: pointer;
}

input[type="radio"]:not(:disabled) ~ span, input[type="checkbox"]:not(:disabled) ~ span {
  font-size: inherit;
  position: static;
  bottom: auto;
  left: auto;
  float: none;
  margin: 0;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  padding-left: 26px;
}

input[type="search"] ~ span:before {
  position: absolute;
  top: 11px;
  left: 15px;
  font-size: 12px;
  color: #999;
}

input[type="email"] {
  text-transform: lowercase;
}

input.state {
  text-transform: uppercase;
}

input.state::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
  text-transform: none;
}

input.state::-moz-placeholder, input[type="email"]::-moz-placeholder {
  text-transform: none;
}

input.state:-moz-placeholder, input[type="email"]:-moz-placeholder {
  text-transform: none;
}

input.state:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
  text-transform: none;
}

.creditCard {
  padding-right: 44px;
}

.creditCard + span:before, input[type="password"] + span:before {
  content: "";
  background: url(//static.rcwilley.com/images/template/creditCardIcons.jpg) 0 0 no-repeat;
  width: 39px;
  height: 24px;
  display: none;
  position: absolute;
  top: 4px;
  right: 9px;
  border-radius: 4px;
}

.currency {
  padding-left: 32px;
}

.currency + span:before {
  content: "$";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2px;
  left: 7px;
  background: #ccc;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  border-radius: 3px 0 0 3px;
  font-weight: bold;
}

.currency:focus + span:before {
  border-color: #14468a transparent #14468a #14468a;
}

.error > .currency + span:before {
  background: rgba(255, 255, 255, 0.5);
}

.capsLock input[type="password"] + span:before {
  width: 24px;
  display: block;
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><path d="M24,4.2C24,1.9,22.1,0,19.8,0H4.2C1.9,0,0,1.9,0,4.2v15.5C0,22.1,1.9,24,4.2,24h15.5c2.3,0,4.2-1.9,4.2-4.2V4.2z M15,21H8 v-3h7V21z M15,10v5H8v-5H4.9l7-7.4l6.7,7.4H15z"/></svg>') center no-repeat;
  opacity: 0.25;
}

.capsLock input[type="password"]:focus + span:before {
  opacity: 0.5;
}

.creditCard.VISA + span:before {
  background-position: 0 0;
  display: block;
}

.creditCard.MC + span:before {
  background-position: -39px 0;
  display: block;
}

.creditCard.AMEX + span:before {
  background-position: -78px 0;
  display: block;
}

.creditCard.DIS + span:before {
  background-position: -117px 0;
  display: block;
}

input[type="file"] ~ span {
  margin: 32px 0 1px;
}

input[type="file"] ~ span:before {
  content: 'No file chosen...';
  width: 95% !important;
  display: block !important;
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 14px !important;
}

input[type="file"] ~ span[data-placeholder]:before {
  content: attr(data-placeholder);
}

input, select, textarea, input[type="file"] ~ span:before {
  background-color: #fff;
  border: 2px solid #ccc;
  height: 32px;
  line-height: 32px;
  display: block;
  padding: 4px 6px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

input:-webkit-autofill {
  background-color: #fff !important;
}

a.btn:hover, button:hover, input[type="file"] ~ a:hover {
  background-color: #777;
}

textarea {
  min-height: 100px;
}

/* Action */
input:focus, textarea:focus, select:focus {
  background-color: #fff;
  outline: none;
  border-color: #14468a;
  border-style: solid;
}

input[type="checkbox"]:focus + span, input[type="radio"]:focus + span {
  background-color: #dde;
}

/* Error States */
label.error input, label.error textarea, label.error select, label.error > input[type="file"] ~ span:before {
  border-color: #d00;
  background-color: #FF8C8C;
  color: #000;
}

label.error span[data-error] {
  font-size: 0;
}

label.error span[data-error] > a {
  display: none;
}

label.error span[data-error]:after {
  content: attr(data-error);
  font-size: 10px;
  color: #d00;
}

.error ::-webkit-input-placeholder {
  color: #000;
}

.error :-moz-placeholder {
  color: #000;
}

.error ::-moz-placeholder {
  color: #000;
}

.error :-ms-input-placeholder {
  color: #000;
}

/* Error Focus */
label.error input:focus, label.error textarea:focus {
  background-color: #FCC;
}

.error :focus::-webkit-input-placeholder {
  color: #900;
}

.error :focus:-moz-placeholder {
  color: #900;
}

.error :focus::-moz-placeholder {
  color: #900;
}

.error :focus:-ms-input-placeholder {
  color: #900;
}

/*
label.checkbox {
    display: block;
    float: none;
    clear: both;
    width: auto;
    background-color: #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    padding: 0;
    margin: 0 5px 10px;
    border-radius: 4px;
}

input[type="checkbox"] {
    display: inline;
    width: 16px;
    height: 16px;
    margin: 8px;
    
}
*/
input[type="checkbox"] + span, input[type="radio"] + span {
  content: attr(data-info);
  display: block;
  font-size: inherit;
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: auto;
  padding: 8px 0 8px 32px;
  line-height: initial;
  float: none;
}

fieldset.pill > label > span {
  border-radius: 0;
}

label > input[type="radio"]:disabled + span {
  color: #999;
  background-color: #eee;
}

fieldset.pill[data-placeholder]:after {
  content: attr(data-placeholder);
  line-height: 32px;
  margin-left: 10px;
}

label.checkbox[data-info]:after, input[type="checkbox"] + label:after {
  content: none;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  width: 16px;
  height: 16px;
  margin: 8px;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 5px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label, fieldset.pill {
  padding: 0 5px 8px;
}

fieldset.pill > label > input, fieldset.image > label > input {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

fieldset.pill > label {
  padding: 0;
  width: auto;
  height: 44px;
}

fieldset.image > label > img {
  border: solid 5px #ccc;
  width: 100px;
  height: 66px;
}

fieldset.image > label > input:checked + img {
  border-color: #f90;
}

fieldset.image > label {
  cursor: pointer;
  width: 120px;
  padding: 0 5px;
  text-align: center;
}

fieldset.pill > label > span {
  float: left !important;
  padding: 0 10px;
  width: auto;
  height: 32px;
  line-height: 32px;
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin: 0 0 12px;
}

fieldset.pill > label:hover > span {
  background-color: #f3f3f3;
}

fieldset.pill > label:first-child > span {
  border-radius: 4px 0 0 4px;
}

fieldset.pill > label:last-child > span {
  border-radius: 0 4px 4px 0;
}

fieldset.pill > label > input:checked + span {
  background-color: #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

fieldset.pill > label > span[data-info]:before {
  content: attr(data-info);
  position: absolute;
  font-size: 10px;
  top: 22px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Group */
label > input ~ .btn, label > input ~ button {
  position: absolute;
  top: 0;
  right: 5px;
  border-radius: 0 4px 4px 0;
  z-index: 1;
  margin: 0;
}

/* Separated because the spec says ignore the rules otherwise */
::-webkit-input-placeholder {
  color: #777;
}

:-moz-placeholder {
  color: #777;
}

::-moz-placeholder {
  color: #777;
}

:-ms-input-placeholder {
  color: #777;
}

:focus::-webkit-input-placeholder {
  color: #aaa;
}

:focus:-moz-placeholder {
  color: #aaa;
}

:focus::-moz-placeholder {
  color: #aaa;
}

:focus:-ms-input-placeholder {
  color: #aaa;
}

.buttons {
  text-align: right;
  clear: both;
  float: right;
  margin-bottom: 10px;
}

.buttons > button, .buttons > .btn {
  float: left;
  margin: 0 3px;
}

.buttons > .btn:last-child, .buttons > button:last-child {
  margin-right: 0;
}

form .buttons {
  margin-left: 5px;
  margin-right: 5px;
}

[data-placeholder].placeholder:before {
  content: attr(data-placeholder);
  position: absolute;
  line-height: 32px;
  top: 0;
  left: 13px;
  color: #777;
  font-size: 14px;
}

input:focus + [data-placeholder]:before {
  color: #aaa;
}

[readonly] {
  background: #eee !important;
}

.noDrag, #header, #hero {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
  user-select: none;
  draggable: none;
}

@font-face {
  font-family: 'Comedicon';
  src: url("/font/comedicon/Comedicon.eot");
  src: url("/font/comedicon/Comedicon.eot?#iefix") format("embedded-opentype"), url("/font/comedicon/Comedicon.woff") format("woff"), url("/font/comedicon/Comedicon.ttf") format("truetype"), url("/font/comedicon/Comedicon.svg#Comedicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-home:before, .icon-profile:before, .icon-ticket:before, .icon-mic:before, .icon-video:before, .icon-email:before, .icon-blog:before, .icon-check:before, .icon-cross:before, .icon-error:before, .icon-warning:before, .icon-blocked:before, .icon-retweet:before, .icon-star:before, .icon-star-half:before, .icon-star-fill:before, .icon-forward:before, .icon-back:before, .icon-prev:before, .icon-next:before, .icon-left:before, .icon-right:before, .icon-down:before, .icon-up:before, .icon-menu:before, .icon-list:before, .icon-grid:before, .icon-download:before, .icon-loading:before, .icon-facebook:before, .icon-twitter:before, .icon-google-plus:before, .icon-pinterest:before, .icon-instagram:before, .icon-link:before, .icon-html5:before, .icon-chrome:before, .icon-safari:before, .icon-firefox:before, .icon-opera:before, .icon-IE:before, .icon-flickr:before {
  font-family: 'Comedicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5em;
}

.icon-home:before {
  content: "\e000";
}

.icon-profile:before {
  content: "\e001";
}

.icon-ticket:before {
  content: "\e002";
}

.icon-mic:before {
  content: "\e003";
}

.icon-video:before, .video:before {
  content: "\e004";
}

.icon-email:before {
  content: "\e005";
}

.icon-blog:before {
  content: "\e006";
}

.icon-check:before {
  content: "\e007";
}

.icon-cross:before {
  content: "\e008";
}

.icon-error:before {
  content: "\e009";
}

.icon-warning:before {
  content: "\e00a";
}

.icon-blocked:before {
  content: "\e00b";
}

.icon-retweet:before {
  content: "\e029";
}

.icon-star:before {
  content: "\e00c";
}

.icon-star-half:before {
  content: "\e00d";
}

.icon-star-fill:before {
  content: "\e00e";
}

.icon-forward:before {
  content: "\e00f";
}

.icon-back:before {
  content: "\e010";
}

.icon-prev:before {
  content: "\e011";
}

.icon-next:before {
  content: "\e012";
}

.icon-left:before {
  content: "\e013";
}

.icon-right:before {
  content: "\e014";
}

.icon-down:before {
  content: "\e015";
}

.icon-up:before {
  content: "\e016";
}

.icon-menu:before {
  content: "\e017";
}

.icon-list:before {
  content: "\e018";
}

.icon-grid:before {
  content: "\e019";
}

.icon-download:before {
  content: "\e01a";
}

.icon-loading:before {
  content: "\e01b";
}

.icon-facebook:before {
  content: "\e04f";
}

.icon-twitter:before {
  content: "\e050";
}

.icon-google-plus:before {
  content: "\e01e";
}

.icon-pinterest:before {
  content: "\e01f";
}

.icon-instagram:before {
  content: "\e020";
}

.icon-link:before {
  content: "\e021";
}

.icon-html5:before {
  content: "\e022";
}

.icon-chrome:before {
  content: "\e023";
}

.icon-safari:before {
  content: "\e024";
}

.icon-firefox:before {
  content: "\e025";
}

.icon-opera:before {
  content: "\e026";
}

.icon-IE:before {
  content: "\e027";
}

.icon-flickr:before {
  content: "\e028";
}
