<header class="header full-bar">
  <a href="/" class="header_logo">Keith Stubbs</a>
  <span class="header_social">
      <a href="https://www.facebook.com/thekeithstubbs" class="fa fa-facebook-square" target="_blank"></a>
      <a href="https://twitter.com/thekeithstubbs" class="fa fa-twitter-square" target="_blank"></a>
    </span>

  <nav class="header_nav">
    {{#foreach navigation}}
      <a href="{{url}}">{{label}}</a>
    {{/foreach}}
  </nav>
</header>
