<section id="hero">
    <div style="height: 640px;">
        <div id="keithHero" class="slideshow">
            <img src="media/home/keith-three.gif">
            <!-- <img src="media/home/keith-two.gif">
            <img src="media/home/keith-one.gif"> -->
        </div>
        <div class="fr textRight mr" style="margin-top: 55px; position: relative;">
            <h1 style="font-size: 96px;
                text-transform: uppercase;
                font-family: 'Fjalla One';
                line-height: 1em;
                margin-bottom: 0;" class="textWhite ts">Keith Stubbs</h1>
            <h2 class="textWhite ts" style="font-size: 34px;
                text-transform: uppercase;
                font-family: 'Fjalla One';
                color: #FC0;
                line-height: 1em;">Comedian &bull; Host &bull; Radio Personality</h2>
            <!--<h3 class="textWhite" style="font-size: 44px; text-transform: uppercase; font-family: 'Fjalla One'; text-align: center; opacity: 0.4;">&#8220;Patent Pending&#8221;</h3>-->
        </div>
        <!--<div class="fr cr" style="margin-right: 90px; margin-top: 20px;">
            <iframe src="http://www.spreaker.com/embed/player/standard?autoplay=false&amp;show_id=814881" style="width: 300px; height: 131px; min-width: 400px;" frameborder="0" scrolling="no"></iframe>
        </div>-->
        <div class="fr cr" style="/* margin-right: 90px; */ width: 530px;">
                    <!--<a class="twitter-timeline" href="https://twitter.com/thekeithstubbs" data-widget-id="323664543693803520">Tweets by @thekeithstubbs</a>-->
                    <style>
                    form {
                        width: 100%;
                    }
                    label {
                        width: calc(50% - 20px);
                        display: block;
                        float: left;
                        margin: 0 10px;
                        font-weight: bold;
                        color: #fff;
                    }
                    label > input,
                    label > textarea {
                        width: 100%;
                        padding: 8px;
                        font-weight: bold;
                    }
                    :not(:focus).ng-dirty.ng-invalid {
                        border-color: #f00;
                    }
                    label.full {
                        width: calc(100% - 20px);
                    }
                    #bodyContent > .p {
                        padding: 5%;
                    }
                    button {
                        margin: 10px;
                        border: 0;
                        background-color: #f90;
                        color: #fff;
                        font-size: 1.07142857em;
                        line-height: 2.28571429em;
                        position: relative;
                        display: inline-block;
                        padding: 0 0.57142857em;
                        text-decoration: none;
                        cursor: pointer;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        outline: none;
                        -webkit-font-smoothing: antialiased;
                        border-bottom: none !important;
                    }
                    </style>

                    <!-- <h3 style="color: #fff;">Keith Stubbs is a nationally touring comedian and award winning radio host</h3> -->

                    <h4 style="margin-left: 87px; color: #fff">Can be heard Monday thru Friday on both</h4>
                    <a href="http://espn700sports.com/shows/keith-stubbs-sports/" style="/* margin-left: 200px; */ border: solid 10px #000" target="_blank" class="fl"><img src="/img/espn700-logo.png" class="fl" style="width: 220px;"></a>
                    <a href="http://1015theeagle.com/shows/jon-and-keith/" style="margin-left: 17px; border: solid 10px #fff" target="_blank" class="fl"><img src="/img/eagle-logo.png" class="fl" style="width: 220px;"></a>

                    <h3 style="
                        color: #fff;
                        float: left;
                        margin-top: 222px;
                        margin-left: 57px;
                    ">Wanna find out more?</h3>
                    <a href="/contact" class="btn green contact-link fl" style="font-size: 20px; margin-left: 20px; margin-top: 221px;">Contact Keith</a>

                    <!-- <form name="contactForm" class="mainBG mb fl" ng-controller="ContactForm as form" ng-submit="contactForm.$valid && saveData()" novalidate>
                        <div ng-show="!form.submitted">
                            <label for="name" class="full">
                                Name:
                                <input type="text" ng-model="contact.name" placeholder="Name" required>
                            </label>
                            <label for="phone">
                                Phone:
                                <input type="tel" ng-model="contact.phone" placeholder="Phone" required>
                            </label>
                            <label for="email">
                                Email:
                                <input type="email" ng-model="contact.email" placeholder="E-mail" required>
                            </label>
                            <label for="message" class="full">
                                Message:
                                <textarea ng-model="contact.message" placeholder="Message"></textarea>
                            </label>
                        <button class="btn green contact-link" style="font-size: 27px;">Send message</button>
                        </div>
                        <div ng-show="form.submitted">
                            <div class="text box">Message: {{form.message}}</div>
                        </div>
                    </form> -->

                </div>
        </section>
        <section id="awards">
            <div>
                <div class="slideshow">
                    <img src="media/awards/uba.jpg">
                    <img src="media/awards/city-weekly.jpg">
                    <img src="media/awards/standard-examiner.jpg">
                    <img src="media/awards/governors-gala.jpg">
                </div>
                <div style="float: right; width: 600px; border-left: solid 2px #ccc; padding-left: 30px;">

                    <h3>Opening act for:</h3>
                    <table id="workedWith">
                        <tr>
                            <td>Joan Rivers</td>
                            <td>Jim Gaffigan</td>
                            <td>Rob Schneider</td>
                        </tr>
                        <tr>
                            <td>Jeff Foxworthy</td>
                            <td>Bill Engvall</td>
                            <td>Gilbert Gottfried</td>
                        </tr>
                        <tr>
                            <td>Bernie Mac</td>
                            <td>Frank Caliendo</td>
                            <td>Sinbad</td>
                        </tr>
                        <tr>
                            <td>Marc Maron</td>
                            <td>Lewis Black</td>
                            <td>Trace Adkins</td>
                        </tr>
                        <tr>
                            <td>Salt-n-Pepa</td>
                            <td>Little Big Town</td>
                            <td>Gladys Knight</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
