<section id="hero">
    <div style="height: 640px;">
        <div id="keithHero" class="slideshow">
            <img src="media/home/keith1.gif">
            <!-- <img src="media/home/keith2.gif">
            <img src="media/home/keith3.gif"> -->
        </div>
        <div class="fr textRight mr" style="margin-top: 55px; position: relative;">
            <h1 style="font-size: 96px;
                text-transform: uppercase;
                font-family: 'Fjalla One';
                line-height: 1em;
                margin-bottom: 0;" class="textWhite ts">Keith Stubbs</h1>
            <h2 class="textWhite ts" style="font-size: 34px;
                text-transform: uppercase;
                font-family: 'Fjalla One';
                color: #FC0;
                line-height: 1em;">Comedian &bull; Host &bull; Radio Personality</h2>
            <!--<h3 class="textWhite" style="font-size: 44px; text-transform: uppercase; font-family: 'Fjalla One'; text-align: center; opacity: 0.4;">&#8220;Patent Pending&#8221;</h3>-->
        </div>
        <!--<div class="fr cr" style="margin-right: 90px; margin-top: 20px;">
            <iframe src="http://www.spreaker.com/embed/player/standard?autoplay=false&amp;show_id=814881" style="width: 300px; height: 131px; min-width: 400px;" frameborder="0" scrolling="no"></iframe>
        </div>-->
        <div class="fr cr" style="margin-right: 90px; width: 400px;">
            <!--<a class="twitter-timeline" href="https://twitter.com/thekeithstubbs" data-widget-id="323664543693803520">Tweets by @thekeithstubbs</a>-->
            <style>
            form {
                width: 100%;
            }
            label {
                width: calc(50% - 20px);
                display: block;
                float: left;
                margin: 0 10px;
                font-weight: bold;
                color: #fff;
            }
            label > input,
            label > textarea {
                width: 100%;
                padding: 8px;
                font-weight: bold;
            }
            :not(:focus).ng-dirty.ng-invalid {
                border-color: #f00;
            }
            label.full {
                width: calc(100% - 20px);
            }
            #bodyContent > .p {
                padding: 5%;
            }
            button {
                margin: 10px;
                border: 0;
                background-color: #f90;
                color: #fff;
                font-size: 1.07142857em;
                line-height: 2.28571429em;
                position: relative;
                display: inline-block;
                padding: 0 0.57142857em;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                text-overflow: ellipsis;
                outline: none;
                -webkit-font-smoothing: antialiased;
                border-bottom: none !important;
            }
            </style>
            <form name="contactForm" class="mainBG mb fl" ng-controller="ContactForm as form" ng-submit="contactForm.$valid && saveData()" novalidate>
                <div ng-show="!form.submitted">
                    <label for="name" class="full">
                        Name:
                        <input type="text" ng-model="contact.name" placeholder="Name" required>
                    </label>
                    <label for="phone">
                        Phone:
                        <input type="tel" ng-model="contact.phone" placeholder="Phone" required>
                    </label>
                    <label for="email">
                        Email:
                        <input type="email" ng-model="contact.email" placeholder="E-mail" required>
                    </label>
                    <label for="message" class="full">
                        Message:
                        <textarea ng-model="contact.message" placeholder="Message"></textarea>
                    </label>
                <button class="btn green contact-link" style="font-size: 27px;">Book Keith for your event!</button>
                </div>
                <div ng-show="form.submitted">
                    <div class="text box">Message: {{form.message}}</div>
                </div>
            </form>
        </div>
        </section>
        <section id="awards">
            <div>
                <div class="slideshow">
                    <img src="media/awards/uba.jpg">
                    <img src="media/awards/city-weekly.jpg">
                    <img src="media/awards/standard-examiner.jpg">
                    <img src="media/awards/governors-gala.jpg">
                </div>
                <div style="float: right; width: 600px; border-left: solid 2px #ccc; padding-left: 30px;">

                    <h3>Worked with:</h3>
                    <table id="workedWith">
                        <tr>
                            <td>Joan Rivers</td>
                            <td>Jim Gaffigan</td>
                            <td>Jeff Foxworthy</td>
                            <td>Marc Maron</td>
                        </tr>
                        <tr>
                            <td>Bill Engvall</td>
                            <td>Due West</td>
                            <td>Gilbert Gottfried</td>
                            <td>Little Texas</td>
                        </tr>
                        <tr>
                            <td>Bernie Mac</td>
                            <td>Frank Caliendo</td>
                            <td>Sinbad</td>
                            <td>Lewis Black</td>
                        </tr>
                        <tr>
                            <td>Salt-n-Pepa</td>
                            <td>Trace Adkins</td>
                            <td>Little Big Town</td>
                            <td>Gladys Knight</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
